.container {
  width: 1460px;
  max-width: 90%;
  margin: 0 auto;
}
.btn {
  padding: 8px 30px;
  border: 1px solid transparent;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  color: var(--dark);
  background: var;
  transition: all 0.5s ease-in-out;
}
.btn-primary:hover {
  background: transparent;
  color: var(--pure);
  border-color: 1px solid var(--pure);
}
